@font-face {
	font-family: 'HansKendrick';
	src: url('../fonts/hanskendrick-regular-webfont.woff2') format('woff2'),
	url('../fonts/hanskendrick-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}



/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

body {
	font-family: 'HansKendrick',sans-serif;
	color: #1d1d1d;
	background: #e2e7ec;
	padding-top: 80px;
	padding-bottom: 80px;
}

main{
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	max-width: 1160px;
	padding: 10px;
}

.ba-first-row,
.ba-second-row {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;

}

.ba-column{
	flex-grow: 1;
	flex-shrink: 0;
	padding: 10px;
	max-width: 380px;
	min-width: 380px;
	height: 560px;
}

.ba-first-row .ba-column:first-child{
	flex-grow: 2;
	flex-shrink: 3;
	max-width: 760px;
	min-width: 380px;
}


.ba-column__info{
	display: flex;
	flex-grow: 0;
	flex-shrink: 1;
	background: white;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: flex-start;
}

.ba-column__info--big{
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 12%,rgba(0,0,0,0.15) 29%,rgba(0,0,0,0.5) 79%,rgba(0,0,0,0.6) 100%),  linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 12%,rgba(0,0,0,0.15) 29%,rgba(0,0,0,0.5) 79%,rgba(0,0,0,0.6) 100%), url("../blog-grid-assets/first-line-1.png") center no-repeat;
}

.ba-column__img-1-2{
	background: url("../blog-grid-assets/first-line-2.png") no-repeat;
	width: 100%;
	height: 251px;

}

.ba-column__img-2-1{
	background: url("../blog-grid-assets/second-line-1.png") no-repeat;
	width: 100%;
	height: 251px;
}

.ba-column__img-2-2{
	background: url("../blog-grid-assets/second-line-2.png") no-repeat;
	width: 100%;
	height: 251px;
}

.ba-column__img-2-3{
	background: url("../blog-grid-assets/second-line-3.png") no-repeat;
	width: 100%;
	height: 251px;
}

.ba-column__description{
	padding-top: 28px;
	padding-left: 25px;
	text-transform: uppercase;
	height: 289px;
	position: relative;
}

.ba-column__description time{
	font-size: 13px;
	color: #818181;

}

.ba-column__description h1{
	font-size: 22px;
	color: #1d1d1d;
	margin: 0;
	padding-top: 13px;
	padding-bottom: 62px;
	width: 310px;

}

.ba-column__description--big{
	display: flex;

	flex-flow: column;
	flex: 1;
	min-width: 360px;
	justify-content: flex-end;
	padding-left: 40px;

}

.ba-column__description--big h1{
	color: #ffffff;
	padding-bottom: 40px;
	width: 320px;
	font-weight: 900;
}

.ba-column__description--big time{
	color: #ffffff;
}

.ba-column__time--hidden{
	visibility: hidden;
}
.ba-column__author{
	position: absolute;
	bottom: 25px;
}


.ba-loading{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 75px;

}

.ba-loading img{
	width: 30px;
	height: 30px;
	padding-right: 10px;
}

.ba-loading h3{
	color: #99a5b0;
	font-size: 13px;
	margin: 0;
	line-height: 30px;
}
